img {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

#inventory {
    width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#inventory div {
    gap: 8px;
    display: flex;
    flex-direction: row;
}

.icon {
    width: 32px; 
    height: 32px; 
    image-rendering: pixelated;
}

.iconLabel {
    font-size: 1.75rem;
    margin: 0px;
}