#inventory {
    width: 1448px;
    height: 100px;
    display: flex;
    flex-direction: row;
}

#inventory div {
    border: 2px royalblue solid;
    box-sizing: border-box;
	background-color: lightskyblue;
    width: 483px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

.icon {
    width: 32px; 
    height: 32px; 
    image-rendering: pixelated;
}

.iconLabel {
    font-size: 1.75rem;
    margin: 0px;
}