<div>
    <app-map-builder *ngIf="debugMode"></app-map-builder>
    <div id="worldHolder">
        <app-world-viewer [debugMode]="debugMode" id="materialWorld"></app-world-viewer>
        <app-world-viewer [debugMode]="debugMode" id="astralWorld"></app-world-viewer>
    </div>
    <app-inventory></app-inventory>
    <div id="collectHolder">
        <app-material-collects id="materialCollects"></app-material-collects>
        <app-info-box></app-info-box>
        <app-astral-collects id="astralCollects"></app-astral-collects>
    </div>
</div>