#worldHolder {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    margin-top: 5vh;
}

#collectHolder {
    margin-top: 1%;
    margin-left: 10%;
    width: 80vw;
    text-align: center;
}