#root {
    padding-bottom: 100px;
    background-color: peachpuff;
    background-image: url('../assets/img/bg.gif');
}

#worldHolder {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 5vh;
    // gap: 4px;
}

#middle-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}