// table {
//     border-collapse: collapse;
// }

// tr {
//     padding: 0px;
// }

// td {
//     width: 48px;
//     height: 48px;
// }

// div {
//     background-color: aquamarine;
//     height: 100%;
//     width: 100%;
//     text-align: center;
// }

div {
    display: grid;
    grid-template-columns: repeat(15, 48px);
    grid-template-rows: repeat(15, 48px);
}

#grid img {
    display: block;
    width: 100%; 
    height: 100%; 
    image-rendering: pixelated;
}

#grid .tile:hover  {
    filter: hue-rotate(180deg);
}

.tile {
    z-index: 10;
}

.object {
    z-index: 11;
    pointer-events: none;
}