table {
    border-collapse: collapse;
}

tr {
    padding: 0px;
}

td {
    width: 48px;
    height: 48px;
}

div {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    text-align: center;
}
