<div id="grid" (mouseleave)="mouseLeave()">
    <!-- tiles -->
    <img 
        class="tile" 
        src="assets/img/{{t.img}}" 
        *ngFor="let t of tiles" 
        [ngStyle]="{'grid-column': t.x+1, 'grid-row':t.y+1}" 
        [ngClass]="{'inPath': tilesInPath.includes(t), 'targeted': targetedTiles.includes(t)}"
        (mouseenter)="hoverHandler(t)" 
        (click)="clickHandler(t.x, t.y)"
        draggable="false"
    >

    <!-- objects -->
    <img 
        class="object" 
        src="assets/img/{{o.type.img}}"
        *ngFor="let o of getActiveObjects()" 
        [ngStyle]="{'grid-column': o.x+1, 'grid-row': o.y+1, 'animation-delay': ((19-o.x)+(19-o.y))*-100 + 'ms'}" 
        [ngClass]="{'collectable': o.type.group==='collectable', 'targeted': targetedObjects.includes(o)}"
        draggable="false"
    >
</div>
<span *ngIf="debugMode">
    <button (click)="getMapJSON()" type="button">Get map JSON</button>
    <input #mapInput id="mapInput" type="text" placeholder="Map .json file">
    <button (click)="loadMapJSON()" type="button">Load test.JSON</button>
</span>