<div id="builderRoot">

    <h3>Map Builder</h3>
    <div *ngIf="getTile() as t">
        <p>Selected: <img src="assets/img/{{t.img}}"><button (click)="clearTile()">x</button></p>
    </div>
    <div *ngIf="getObject() as o">
        <p>Selected: <img src="assets/img/{{o.img}}"><button (click)="clearObject()">x</button></p>
    </div>

    <div>
        <img *ngFor="let t of tileLibrary" src="assets/img/{{t.img}}" (click)="selectTile(t)">
    </div>
    <div>
        <img *ngFor="let o of collectableLibrary" src="assets/img/{{o.img}}" (click)="selectObject(o)">
    </div>
    <div>
        <img *ngFor="let o of spellCollectLibrary" src="assets/img/{{o.img}}" (click)="selectObject(o)">
    </div>
    <div>
        <img *ngFor="let o of gateLibrary" src="assets/img/{{o.img}}" (click)="selectObject(o)">
    </div>
    <div>
        <img *ngFor="let o of enemyLibrary" src="assets/img/{{o.img}}" (click)="selectObject(o)">
    </div>
</div>