div {
    border: 7px goldenrod solid;
    border-radius: 10%;
    background-color: peachpuff;
    column-gap: 32px;
    display: flex;
    flex-direction: row;
    float: left;
}

.icon {
    width: 32px; 
    height: 32px; 
    image-rendering: pixelated;
}

.iconLabel {
    font-size: 2rem;
}