<div>
    <p class="iconLabel"><img class="icon" src="assets/img/hp_pickup.png">: {{getHp()}}</p>
    <p class="iconLabel"><img class="icon" src="assets/img/str.png">: {{getStr()}}</p>
    <p class="iconLabel"><img class="icon" src="assets/img/dex.png">: {{getDex()}}</p>
    <p class="iconLabel"><img class="icon" src="assets/img/int.png">: {{getInt()}}</p>
    <p class="iconLabel"><img class="icon" src="assets/img/vit.png">: {{getVit()}}</p>
    <p class="iconLabel"><img class="icon" src="assets/img/spi.png">: {{getSpi()}}</p>
</div>