img {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

#spell-inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#spell-inventory div {
    gap: 16px;
    display: flex;
    flex-direction: column;
    float: right;
}

.icon {
    width: 32px; 
    height: 32px; 
    image-rendering: pixelated;
}

.iconLabel {
    font-size: 2rem;
    margin: 0px;
}